<IfModule mod_rewrite.c>
    SetEnv HTTP_MOD_REWRITE On
    RewriteEngine On
    # RewriteBase '/shop'

    RewriteCond %{REQUEST_URI} ^(.*)$
    RewriteCond %{REQUEST_FILENAME} !-f
    # RewriteCond %{REQUEST_URI} !\.php$
    RewriteRule .* index.php?url=%1&%{QUERY_STRING} [L]
</IfModule>