<phpunit bootstrap="./init.php">
    <testsuite name="Essence Framework">
        <directory>./framework/</directory>
        <exclude>./cache/</exclude>
    </testsuite>
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory>./framework/</directory>
            <exclude>
                <directory>./cache</directory>
            </exclude>
        </whitelist>
    </filter>
</phpunit>