.autocomplete-suggestions {
    position:absolute;
    border:1px solid #aaa;
    border-top:0px none;
    box-shadow: 2px 2px 3px rgba(000,000,000,0.1);
    background:white;
}
.autocomplete-suggestions > * {
    padding:3px 10px;
    color:#5D6A79;
}
.autocomplete-suggestions * {
    cursor:pointer;
    font-style: italic;
}
.autocomplete-suggestions [data-value] {
    font-style: normal;
}
.autocomplete-suggestions [data-value="0"] {
    font-style: italic;
}
.autocomplete-suggestions .candidate {
    background:red;
    color:white;
}
.autocomplete-label.empty {
    font-style: italic;
}