table.collection { border-spacing: 0; border-collapse: collapse; border:1px solid #aaa; }
table.collection tbody { background-color:#fff; }
table.collection tbody tr:nth-child(even) { background-color:#F0F4F9; }
table.collection tbody tr td { padding:3px 10px; color:#5D6A79; }
table.collection tbody tr td a { text-decoration:none; display:block; width:300px; white-space: nowrap; overflow:hidden; }