a.tab { display:inline-block; padding:.2em 2em; border-left:1px solid #ccc; text-decoration:none; color:#bbb; }
a.tab:first-child { padding-left:209px; border-left:0 none; }
a.tab.selected { color:#444; }