body { font-family:Helvetica; font-size:12px; }
a { color:#88c;}
ul { margin:0 0 1em; padding:0 2em 0; }

label { display:inline; font-weight:bold; }
select, button, input, textarea { display:block; }
input[type="radio"], input[type="checkbox"] { display:inline; }
li.list { list-style-image:url(icons/database_go.png); }
li.edit { list-style-image:url(icons/database_edit.png); }
li.create { list-style-image:url(icons/database_add.png); }
.error { font-weight:bold; color:#a00; }
.field { margin:1em 0; }